<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="DefaultConnection"
        connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Administrator.FORAI\source\repos\tech-test\TechTest\AnyCompany.Data\DB.mdf;Integrated Security=True;MultipleActiveResultSets=True;"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>